<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="de.tum.in.l4k.weltreise">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
      android:name="de.tum.in.l4k.weltreise.AnimalPool">
        <activity
          android:name="de.tum.in.l4k.weltreise.MainActivity"
          android:screenOrientation="sensorLandscape"
          tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
          android:name="de.tum.in.l4k.weltreise.StartActivity"
          android:screenOrientation="sensorLandscape"
          tools:ignore="LockedOrientationActivity" />
        <activity
          android:name="de.tum.in.l4k.weltreise.GameActivity"
          android:screenOrientation="sensorLandscape"
          tools:ignore="LockedOrientationActivity" />
        <activity
          android:name="de.tum.in.l4k.weltreise.DinosActivity"
          android:screenOrientation="sensorLandscape"
          tools:ignore="LockedOrientationActivity" />
        <activity
          android:name="de.tum.in.l4k.weltreise.TutorialActivity"
          android:screenOrientation="sensorLandscape"
          tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>